<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.agent.orderform.mapper.SalOdrmMapper">
    <select id="getOrderMainListByLoginUser" resultType="map">
        select so.*, vsa.FAgentName
        from SAL_ODRM so
                 left join Vie_RS_Agent vsa on so.FKAgentID = vsa.FPKID
        where salesman = #{userId}
    </select>
    <select id="getExpressList" resultType="map">
        select vre.FPKID as value, vre.FExpressDesc as name, vre.FExpressCode as code
        from Vie_RS_Express vre
    </select>
    <select id="getAddressTreeDataList" resultType="map">
        <choose>
            <when test='keyLen == "3"'>
                select distinct vrc.fprovince as title, value = 'fprovince' from vie_rs_cities vrc where vrc.farea =
                #{value}
            </when>
            <when test='keyLen == "5"'>
                select distinct vrc.fregion as title, value = 'fregion' from vie_rs_cities vrc where vrc.fprovince
                = #{value}
            </when>
            <when test='keyLen == "7"'>
                select vrc.fcity as title, value = 'fcity' from vie_rs_cities vrc where vrc.fregion = #{value}
            </when>
            <otherwise>
                select distinct vrc.farea as title, value = 'farea' from vie_rs_cities vrc
            </otherwise>
        </choose>
    </select>

    <select id="queryAddressListBySelectValue" resultType="map">
        select vrc.*
        from vie_rs_cities vrc
        where vrc.${selectValue} like CONCAT(CONCAT('%', #{inputValue}), '%')
    </select>

    <select id="getAgentUserByLoginUser" resultType="map">
        select FKAgentID, FAgentName, FSalesman, FCurrency
        from Vie_RS_AgentUser
        where FPKID = #{userId}
    </select>
</mapper>