<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.agent.orderform.mapper.SalOdrmMapper">
    <select id="getExpressList" resultType="map">
        select vre.FPKID as value, vre.FExpressDesc as name, vre.FExpressCode as code from Vie_RS_Express vre
    </select>
</mapper>