<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.demo.agent.mapper.VieRSAgentMapper">
    <select id="queryVieRSAgentPageList" parameterType="String"
            resultType="org.jeecg.modules.demo.agent.entity.VieRSAgent">
        select vra.* from Vie_RS_Agent vra
        <!--        where vra.FAgentName = #{FAgentName}-->
        <where>
            <if test="vieRSAgent.fAgentCode != null and vieRSAgent.fAgentCode != ''">
                and vra.FAgentCode LIKE concat(concat('%',#{vieRSAgent.fAgentCode}),'%')
            </if>
            <if test="vieRSAgent.fFullAgentName != null and vieRSAgent.fFullAgentName != ''">
                and vra.FFullAgentName LIKE concat(concat('%',#{vieRSAgent.fFullAgentName}),'%')
            </if>
        </where>
    </select>
</mapper>